# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log
local_settings.py

# Node / React
node_modules/
dist/
build/
.next/
coverage/
.npm/
.env.local
.env.development.local
.env.test.local
.env.production.local
